/* Estilos comunes para ambos tamaños de pantalla */
body {
  font-family: 'Arial', sans-serif;
  margin: 20;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

p {
  font-family: 'Cookie', cursive;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}

h1 {
  font-family: 'Cookie', cursive;
  font-size: 40px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px black;
}

.container {
  position: relative;
  background-image: url('imagen/foto1.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #6dd2f4;
  color: #fff;
  text-align: center;
  padding: 30px;
  padding-bottom: 70px;
  height: 100vh;
  overflow: hidden;
}

#confeti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  width: auto;
  font-size: 18px; /* Ajusta el tamaño de la fuente según tus necesidades */
}

button:hover {
  background-color: #45a049;
}
@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
.confeti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  animation: fall linear infinite;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 360px) {
  .container {
    font-size: 14px;
  }

  h1 {
    font-size: 25px;
  }
  p {
    font-family: 'Cookie', cursive;
    font-size: 16px;
    text-shadow: 1px 1px 1px black;
  }

  #confirmacion {
    display: flex;
    flex-direction: row; /* Alinea los botones uno al lado del otro */
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
  }

  button {
    font-size: 20px;
    padding: 10px 10px;
    margin: 10px; /* Añade margen entre los botones */
    white-space: nowrap;
  }
}
